<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191304773271-kt9eju0mt4ntarrq13qu7c9ojqud7fj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191304773271-kt9eju0mt4ntarrq13qu7c9ojqud7fj2</string>
	<key>API_KEY</key>
	<string>AIzaSyBvmNOdf9AxvnmKxT0nl22LBNfB93xM0l4</string>
	<key>GCM_SENDER_ID</key>
	<string>191304773271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.withios.ChatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebaseapp-844d7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebaseapp-844d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191304773271:ios:af3bbba1c0e5978c6dc3d2</string>
	<key>DATABASE_URL</key>
	<string>https://chatwithfirebaseapp-844d7.firebaseio.com</string>
</dict>
</plist>